<?xml version="1.0" encoding="UTF-8"?>
<config>
  <object id="2">
    <metadata key="name" value="queen.stl"/>
    <metadata key="bottom_shell_layers" value="3"/>
    <metadata key="bottom_shell_thickness" value="0"/>
    <metadata key="bottom_surface_pattern" value="monotonic"/>
    <metadata key="bridge_flow" value="1"/>
    <metadata key="bridge_no_support" value="0"/>
    <metadata key="bridge_speed" value="50"/>
    <metadata key="brim_object_gap" value="0.1"/>
    <metadata key="brim_width" value="5"/>
    <metadata key="compatible_printers" value=""Bambu Lab X1 Carbon 0.4 nozzle";"Bambu Lab X1 0.4 nozzle";"Bambu Lab P1S 0.4 nozzle";"Bambu Lab X1E 0.4 nozzle""/>
    <metadata key="compatible_printers_condition" value=""/>
    <metadata key="default_acceleration" value="10000"/>
    <metadata key="detect_overhang_wall" value="1"/>
    <metadata key="detect_thin_wall" value="0"/>
    <metadata key="draft_shield" value="disabled"/>
    <metadata key="elefant_foot_compensation" value="0.15"/>
    <metadata key="enable_arc_fitting" value="1"/>
    <metadata key="enable_prime_tower" value="1"/>
    <metadata key="enable_support" value="1"/>
    <metadata key="filename_format" value="{input_filename_base}_{filament_type[0]}_{print_time}.gcode"/>
    <metadata key="gap_infill_speed" value="250"/>
    <metadata key="infill_combination" value="0"/>
    <metadata key="infill_direction" value="45"/>
    <metadata key="infill_wall_overlap" value="15%"/>
    <metadata key="inherits" value="fdm_process_bbl_0.20"/>
    <metadata key="initial_layer_acceleration" value="500"/>
    <metadata key="initial_layer_infill_speed" value="105"/>
    <metadata key="initial_layer_line_width" value="0.5"/>
    <metadata key="initial_layer_print_height" value="0.2"/>
    <metadata key="initial_layer_speed" value="50"/>
    <metadata key="inner_wall_line_width" value="0.45"/>
    <metadata key="inner_wall_speed" value="300"/>
    <metadata key="interface_shells" value="0"/>
    <metadata key="internal_bridge_support_thickness" value="0.8"/>
    <metadata key="internal_solid_infill_line_width" value="0.42"/>
    <metadata key="internal_solid_infill_speed" value="250"/>
    <metadata key="ironing_flow" value="10%"/>
    <metadata key="ironing_spacing" value="0.15"/>
    <metadata key="ironing_speed" value="30"/>
    <metadata key="ironing_type" value="no ironing"/>
    <metadata key="layer_height" value="0.2"/>
    <metadata key="line_width" value="0.42"/>
    <metadata key="max_travel_detour_distance" value="0"/>
    <metadata key="minimum_sparse_infill_area" value="15"/>
    <metadata key="outer_wall_acceleration" value="5000"/>
    <metadata key="outer_wall_line_width" value="0.42"/>
    <metadata key="outer_wall_speed" value="200"/>
    <metadata key="overhang_1_4_speed" value="0"/>
    <metadata key="overhang_2_4_speed" value="50"/>
    <metadata key="overhang_3_4_speed" value="30"/>
    <metadata key="overhang_4_4_speed" value="10"/>
    <metadata key="prime_tower_width" value="35"/>
    <metadata key="print_sequence" value="by layer"/>
    <metadata key="print_settings_id" value="0.20mm Standard @BBL X1C"/>
    <metadata key="raft_layers" value="0"/>
    <metadata key="reduce_crossing_wall" value="0"/>
    <metadata key="reduce_infill_retraction" value="1"/>
    <metadata key="resolution" value="0.012"/>
    <metadata key="seam_position" value="aligned"/>
    <metadata key="skirt_distance" value="2"/>
    <metadata key="skirt_height" value="1"/>
    <metadata key="skirt_loops" value="0"/>
    <metadata key="sparse_infill_density" value="15%"/>
    <metadata key="sparse_infill_line_width" value="0.45"/>
    <metadata key="sparse_infill_pattern" value="grid"/>
    <metadata key="sparse_infill_speed" value="270"/>
    <metadata key="spiral_mode" value="0"/>
    <metadata key="standby_temperature_delta" value="-5"/>
    <metadata key="support_base_pattern" value="default"/>
    <metadata key="support_base_pattern_spacing" value="2.5"/>
    <metadata key="support_bottom_z_distance" value="0.2"/>
    <metadata key="support_expansion" value="0"/>
    <metadata key="support_filament" value="0"/>
    <metadata key="support_interface_bottom_layers" value="2"/>
    <metadata key="support_interface_filament" value="0"/>
    <metadata key="support_interface_loop_pattern" value="0"/>
    <metadata key="support_interface_pattern" value="auto"/>
    <metadata key="support_interface_spacing" value="0.5"/>
    <metadata key="support_interface_speed" value="80"/>
    <metadata key="support_interface_top_layers" value="2"/>
    <metadata key="support_line_width" value="0.42"/>
    <metadata key="support_object_xy_distance" value="0.35"/>
    <metadata key="support_on_build_plate_only" value="0"/>
    <metadata key="support_speed" value="150"/>
    <metadata key="support_style" value="default"/>
    <metadata key="support_threshold_angle" value="30"/>
    <metadata key="support_top_z_distance" value="0.2"/>
    <metadata key="support_type" value="tree(auto)"/>
    <metadata key="top_shell_layers" value="5"/>
    <metadata key="top_shell_thickness" value="1"/>
    <metadata key="top_surface_acceleration" value="2000"/>
    <metadata key="top_surface_line_width" value="0.42"/>
    <metadata key="top_surface_pattern" value="monotonicline"/>
    <metadata key="top_surface_speed" value="200"/>
    <metadata key="travel_speed" value="500"/>
    <metadata key="tree_support_branch_angle" value="45"/>
    <metadata key="tree_support_branch_diameter" value="2"/>
    <metadata key="tree_support_wall_count" value="1"/>
    <metadata key="wall_generator" value="classic"/>
    <metadata key="wall_loops" value="2"/>
    <metadata key="wall_sequence" value="inner wall/outer wall"/>
    <metadata key="wipe_tower_no_sparse_layers" value="0"/>
    <metadata key="xy_contour_compensation" value="0"/>
    <metadata key="xy_hole_compensation" value="0"/>
    <metadata face_count="439872"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="queen.stl"/>
      <metadata key="matrix" value="1 0 0 3.814697265625e-06 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="queen.stl"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="127.14416122436523"/>
      <metadata key="source_offset_y" value="96.006294250488281"/>
      <metadata key="source_offset_z" value="24.757999420166016"/>
      <mesh_stat face_count="439872" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <plate>
    <metadata key="plater_id" value="1"/>
    <metadata key="plater_name" value=""/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="gcode_file" value="Metadata/plate_1.gcode"/>
    <metadata key="thumbnail_file" value="Metadata/plate_1.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_1.png"/>
    <metadata key="top_file" value="Metadata/top_1.png"/>
    <metadata key="pick_file" value="Metadata/pick_1.png"/>
    <model_instance>
      <metadata key="object_id" value="2"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="14"/>
    </model_instance>
  </plate>
  <assemble>
  </assemble>
</config>
